@font-face {
    font-family: 'museo';
    src: url(Museo_Slab_300.otf);
}
* {
    box-sizing: border-box;
    
    font-family:'museo';
    font-weight:50;
}

#section0 {
    background: url('img/banner.jpg') no-repeat bottom;
    background-size: cover;
}
/*
    SECOND SLIDE
*/

#section2 {






  background: -webkit-linear-gradient(#6441A5 10%, #2a0845 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(#6441A5 10%, #2a0845 90%); /* FF3.6+ */
  background:     -ms-linear-gradient( #6441A5 10%, #2a0845 90%); /* IE10 */
  background:      -o-linear-gradient( #6441A5 10%, #2a0845 90%); /* Opera 11.10+ */
  background:         linear-gradient( #6441A5 10%, #2a0845 90%); /* W3C */
        
        
        
        
    
    color:white;
}

#section2 h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 10vh;
    color:white;
}

#section2 div.container {
    width: 80vw;
    margin: 0 10vw;
}

div.rule {
    width: 15vw;
    display: inline-block;
    margin: 0 2vw;
    vertical-align: top;
}
/*style of the rule's illustration*/

.view {
    width: 15vw;
    height: 15vw;
    margin-top: 10vh;
    vertical-align: top;
}
/*first rule illustration*/

div#view1.view {
    background: url('img/regle/regle1.png') no-repeat;
    background-size: contain;
}
/*second rule illustration*/

div#view2.view {
    background: url('img/regle/regle2.png') no-repeat center;
    background-size: contain;
}
/*third rule illustration*/

div#view3.view {
    background: url('img/regle/regle3.png') no-repeat center;
    background-size: contain;
}
/*forfth rule illustration*/

div#view4.view {
    background: url('img/regle/regle4.png') no-repeat center;
    background-size: contain;
}
/*style of the rule's text*/

div.text {
    margin-top: 10vh;
    font-size: 18px;
    vertical-align: top;
}

.mod {
    width:80vw;
    margin:5vw 10vw 2vw 10vw;
    

}

#slide1 h3 {
    text-align:center;
    font-size:45px;
    margin-top:1vw;
}

.tri {
    width:40vw;
    color:white;
    background:red;
    height:10vw;
    margin:2vw auto;
    text-align:center;
    border-radius:1vw;
    box-shadow:0.1vw 0.1vw 2vw #FF6464;
        transition:1s

}

.tri p {
    font: 4em;
    padding-top:5vw;
} 
/*
.tri:hover {
    background:blue;
}
*/

.mod .tri:nth-child(1):hover {
    background:url('http://i.jeuxactus.com/datas/jeux/s/u/super-smash-bros-for-nintendo-3ds/vu/super-smash-bros-for-nin-54298a8eb1edf.jpg') no-repeat center;
    background-size:cover;
}

.mod .tri:nth-child(2):hover {
    background:url('http://vignette4.wikia.nocookie.net/gowikia/images/c/c2/Gostones.jpg/revision/latest?cb=20080130234916') no-repeat center;
    background-size:cover;
}

.mod .tri:nth-child(3):hover {
    background:url('http://img1.wikia.nocookie.net/__cb20110416035508/logopedia/images/d/dc/Super_smash_bros_logo.png') no-repeat center;
    background-size:cover;
}

.apercu {
    width:40.6vw;
    height:20vw;
    border:2px solid black;
    margin:0 20vw;;
}

button {
    width: 20vw;
    height:5vw;
    margin:2.5vw 30vw;
    
}
/*

/*

Onclick on triangle
*/




