
*{
box-sizing: border-box;


}

.div1
{
  
  display: inline-block;
  width: 25px;
  height: 25px;
  background:url(../images/pionRouge.png);
  background-size: cover;
	background-position: center;
	


} 

.div2
{
  
  display: inline-block;
  width: 25px;
  height: 25px;
  background:url(../images/croix.png);
  
	background-size: cover;
	background-position: center;

}
.div3
{
  
  display: inline-block;
  width: 25px;
  height: 25px;
  background:url(../images/pionBleu.png);
  background-size: cover;
  background-position: center;

}


body {
    
    height: 100vh;
    width:100%;
}

tr {
  height:19px;
  margin:0;
  padding:0;
}

td {
  margin:0;
  padding:0;
}