* {
    box-sizing: border-box;
    font-family:"Kanban"
}

@font-face {
    font-family: "Kanban";
    src: url("../font-face/Museo_Slab_300.otf");
}

.mainHeader {
    position: absolute;
    background: white;
    width: 100%;
    height: 5vh;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 1px RGBA(26, 26, 26, 0.38);
}

h1 {
    font-family: "Kanban";
    text-align: center;
    color: black;
    font-size: 20px;
    display: inline-block;
    width: 40%;
    margin: 0 30vw;
}

.div1 {
    display: inline-block;
    width: 45px;
    height: 45px;
    /*    background: url(../images/pionRouge.png);*/
    
    background: url(../img/captainAmerica.svg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.div2 {
    display: inline-block;
    width: 45px;
    height: 45px;
    /*    background: url(../img/dot2.svg);*/
    
    background-size: contain;
}

.div5 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url(../img/dot2.svg);
    visibility: hidden;
    background-size: contain;
}

.div2:hover {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: RGBA(99, 129, 255, 0.15);
    background-size: contain;
    border: 1px dashed black;
    border-radius: 50%;
    cursor: pointer;
}

.div4 {
    display: inline-block;
    width: 45px;
    height: 45px;
    /*    background: url(../images/pionRouge.png);*/
    
    background: purple;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.div6 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: violet;
    background-size: contain;
}

.div9 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('../img/billGaucheDroite.svg') no-repeat center;
    background-size: contain;
}

.div8 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('../img/marteau.svg')no-repeat center;
    background-size: contain;
}

.div7 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('../img/billHautBas.svg')no-repeat center;
    background-size: contain;
}

.div10 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('http://cdn.shopify.com/s/files/1/0326/0713/products/smash-ball-burning_grande.jpg?v=1420043793')no-repeat center;
    background-size: contain;
}

.div11 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('../img/bombe.svg') no-repeat center;
    background-size: contain;
}

.div3 {
    display: inline-block;
    width: 45px;
    height: 45px;
    /*    background: url(../images/pionBleu.png);*/
    
    background: url(../img/irondMan.svg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

body{
    height: 100vh;
    width: 100%;
    background-size: contain;
    background:   linear-gradient( #D2F5FF 10%, #D2E7FF 90%); /* W3C */
        
    overflow: hidden;
}

table {
    background: url(../img/gban2.png) no-repeat top;
    background-size: cover;
    margin: 12vh auto;
    box-shadow: 0px 2px 3px RGB(26, 26, 26);
/*    width:31.5%;*/

}

tr {
    height: 19px;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

#pass {
    background: #F4F1F1;
    width: 60%;
    height: 7vh;
    margin: 3vh 20%;
    font-size: 18px;
    border-radius:5px;
    border:1px solid #A2ADFF;
}

#save {
    background:white;
    color: black;
    width: 6vw;
    height: 3.5vh;
    vertical-align:middle;
    display: inline-block;
    position: absolute;
    border:1px solid black;
    top: 0.7vh;
    right: 2vw;
    border-radius:10px; 
        transition:0.4s;

}

#save:hover {
    background:black;
    color:white;
    transition:0.4s;
}


#fileinput {
    width: 100px;
    height: 50px;
    background: green;
}

.ui {
    width: 20vw;
    height: 31.5vw;
    background: RGB(250, 250, 250);
    position: absolute;
    margin-top: 14vh;
    box-shadow: 0px 1px 3px RGB(26, 26, 26);
        font-size:1.5em;
        transition:0.5s;


}
#J1.ui {
        left:5vw;

}


#J2.ui {
    right: 5vw;
}

.ui header {
    position: relative;
    top: 0;
    padding-bottom: 1vh;
    border-bottom: 1px solid #8D8D8D;
    box-shadow: 0px 1px 6px RGBA(26, 26, 26, 0.38);
}

.ui .head {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url('http://i.imgur.com/Fp1l1.png');
    background-size: contain;
    display: inline-block;
    margin: 1vh 2vw 0 3vw;
}

.ui .name {
    text-align: left;
    width: 50%;
    top: 2vh;
    position: absolute;
    display: inline-block;
}

.ui .score {
    
    padding: 3vh 0;
}

.ui .logoBonus {
    background: url('../img/marteau.svg') no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.bonus {
    padding: 3vh 0 3vh 0;
}

.logoBonus,
.bonusLeft {
    display: inline-block;
}

.iconTimer {
    display: inline-block;
}

.timer {
    padding: 3vh 1vw;
    margin: auto;
    font-size: 1.3em;
    margin-top: 1vw;
    border-bottom: 1px solid RGBA(180, 180, 180, 0.62);
    border-top: 1px solid RGBA(180, 180, 180, 0.62);
}

#timerJ1,
#timerJ2 {
    display: inline-block;
}

#J1.ui {
    right: 5vw;
}

.active {
    border: 3px solid red;
}

.iconTimer {
    background: url(../img/clock.png) no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
}


.currentP {
    box-shadow:0px 5px 10px #FFA700;
    transition:0.5s;
    
}